<!--
    Copyright (c) Microsoft. All rights reserved.
    Licensed under the MIT license. See LICENSE.txt file in the project root for full license information.
-->

@{
    ViewData["Title"] = "Index";
}

<h2>Office365APIEditor</h2>

<p>Download the latest Office365APIEditor.</p>

<ul>
    <li><a href="~/installers/Setup.msi">Latest MSI</a></li>
    <li><a href="~/installers/Office365APIEditor.zip">Latest ZIP</a><br /></li>
</ul>

<p>For more detail, go to the <a href="https://github.com/Microsoft/Office365APIEditor">GitHub repository of Office365APIEditor</a> page.</p>