<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Office365APIEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Office365APIEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Office365APIEditor.Properties.Settings>
      <setting name="LastRequest" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="LastNativeAppTenantName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastNativeAppClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastNativeAppRedirectURL" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppRedirectURL" serializeAs="String">
        <value />
      </setting>
      <setting name="BasicAuthSmtpAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppRedirectUri" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppScopes" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2MobileAppClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2MobileAppScopes" serializeAs="String">
        <value />
      </setting>
    </Office365APIEditor.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Office365APIEditor.Properties.Settings>
      <setting name="PredefinedScopes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>offline_access</string>
            <string>openid</string>
            <string>profile</string>
            <string>email</string>
            <string>https://outlook.office.com/mail.read</string>
            <string>https://outlook.office.com/mail.readwrite</string>
            <string>https://outlook.office.com/mail.send</string>
            <string>https://outlook.office.com/contacts.read</string>
            <string>https://outlook.office.com/contacts.readwrite</string>
            <string>https://outlook.office.com/calendars.read</string>
            <string>https://outlook.office.com/calendars.readwrite</string>
            <string>https://graph.microsoft.com/mail.read</string>
            <string>https://graph.microsoft.com/mail.readwrite</string>
            <string>https://graph.microsoft.com/mail.send</string>
            <string>https://graph.microsoft.com/contacts.read</string>
            <string>https://graph.microsoft.com/contacts.readwrite</string>
            <string>https://graph.microsoft.com/calendars.read</string>
            <string>https://graph.microsoft.com/calendars.readwrite</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DefaultScopes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>offline_access</string>
            <string>https://graph.microsoft.com/mail.read</string>
            <string>https://graph.microsoft.com/mail.readwrite</string>
            <string>https://graph.microsoft.com/mail.send</string>
            <string>https://graph.microsoft.com/contacts.read</string>
            <string>https://graph.microsoft.com/contacts.readwrite</string>
            <string>https://graph.microsoft.com/calendars.read</string>
            <string>https://graph.microsoft.com/calendars.readwrite</string>
          </ArrayOfString>
        </value>
      </setting>
    </Office365APIEditor.Properties.Settings>
  </applicationSettings>
</configuration>