<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Office365APIEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Office365APIEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Office365APIEditor.Properties.Settings>
      <setting name="LastRequest" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="LastNativeAppTenantName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastNativeAppClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastNativeAppRedirectURL" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppRedirectURL" serializeAs="String">
        <value />
      </setting>
      <setting name="BasicAuthSmtpAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppRedirectUri" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppScopes" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2MobileAppClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2MobileAppScopes" serializeAs="String">
        <value />
      </setting>
      <setting name="NeedUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastMailboxViewerClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppAppOnlyTenantName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppAppOnlyClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppAppOnlyCertPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppAppOnlyCertPass" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LogFileStyle" serializeAs="String">
        <value>Static</value>
      </setting>
      <setting name="AllowAutoRedirect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastWebAppAppOnlyByKeyTenantName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppAppOnlyByKeyTenantID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppAppOnlyByKeyClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastWebAppAppOnlyByKeyClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="LastBuiltInAppScopes" serializeAs="String">
        <value />
      </setting>
      <setting name="BuiltInAppClientId" serializeAs="String">
        <value>389b1b32-b5d5-43b2-bddc-84ce938d6737</value>
      </setting>
      <setting name="BuiltInAppRedirectUri" serializeAs="String">
        <value>urn:ietf:wg:oauth:2.0:oob</value>
      </setting>
      <setting name="CustomUserAgent" serializeAs="String">
        <value>Office365APIEditor</value>
      </setting>
      <setting name="CustomUserAgentMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastV2WebAppAppOnlyByPasswordForMicrosoftGraphTenantName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppAppOnlyByPasswordForMicrosoftGraphClientID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2WebAppAppOnlyByPasswordForMicrosoftGraphClientSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="NewerInstallerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="SystemLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MailboxViewerFormBounds" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="MailboxViewerFormWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="RequestFormBounds" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="RequestFormWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="LastV2WebAppTenantName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2MobileAppTenantName" serializeAs="String">
        <value />
      </setting>
      <setting name="LastV2MobileAppRedirectUri" serializeAs="String">
        <value />
      </setting>
      <setting name="ReplacePlusSignInTheRequestURL" serializeAs="String">
        <value>False</value>
      </setting>
    </Office365APIEditor.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Office365APIEditor.Properties.Settings>
      <setting name="PredefinedScopes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>offline_access</string>
            <string>openid</string>
            <string>profile</string>
            <string>email</string>
            <string>https://outlook.office.com/calendars.read</string>
            <string>https://outlook.office.com/calendars.read.shared</string>
            <string>https://outlook.office.com/calendars.readwrite</string>
            <string>https://outlook.office.com/calendars.readwrite.shared</string>
            <string>https://outlook.office.com/contacts.read</string>
            <string>https://outlook.office.com/contacts.readwrite</string>
            <string>https://outlook.office.com/mail.read</string>
            <string>https://outlook.office.com/mail.readwrite</string>
            <string>https://outlook.office.com/mail.send</string>
            <string>https://outlook.office.com/mailboxsettings.read</string>
            <string>https://outlook.office.com/mailboxsettings.readwrite</string>
            <string>https://outlook.office.com/people.read</string>
            <string>https://outlook.office.com/tasks.read</string>
            <string>https://outlook.office.com/tasks.readwrite</string>
            <string>https://outlook.office.com/user.read</string>
            <string>https://outlook.office.com/user.readwrite</string>
            <string>https://outlook.office.com/user.readbasic.all</string>
            <string>https://graph.microsoft.com/AppCatalog.ReadWrite.All</string>
            <string>https://graph.microsoft.com/Calendars.Read</string>
            <string>https://graph.microsoft.com/Calendars.Read.Shared</string>
            <string>https://graph.microsoft.com/Calendars.ReadWrite</string>
            <string>https://graph.microsoft.com/Calendars.ReadWrite.Shared</string>
            <string>https://graph.microsoft.com/Contacts.Read</string>
            <string>https://graph.microsoft.com/Contacts.Read.Shared</string>
            <string>https://graph.microsoft.com/Contacts.ReadWrite</string>
            <string>https://graph.microsoft.com/Contacts.ReadWrite.Shared</string>
            <string>https://graph.microsoft.com/Directory.Read.All</string>
            <string>https://graph.microsoft.com/Directory.ReadWrite.All</string>
            <string>https://graph.microsoft.com/Directory.AccessAsUser.All</string>
            <string>https://graph.microsoft.com/Files.Read</string>
            <string>https://graph.microsoft.com/Files.Read.All</string>
            <string>https://graph.microsoft.com/Files.ReadWrite</string>
            <string>https://graph.microsoft.com/Files.ReadWrite.All</string>
            <string>https://graph.microsoft.com/Group.Read.All</string>
            <string>https://graph.microsoft.com/Group.ReadWrite.All</string>
            <string>https://graph.microsoft.com/IdentityProvider.Read.All</string>
            <string>https://graph.microsoft.com/IdentityProvider.ReadWrite.All</string>
            <string>https://graph.microsoft.com/Mail.Read</string>
            <string>https://graph.microsoft.com/Mail.ReadWrite</string>
            <string>https://graph.microsoft.com/Mail.Read.Shared</string>
            <string>https://graph.microsoft.com/Mail.ReadWrite.Shared</string>
            <string>https://graph.microsoft.com/Mail.Send</string>
            <string>https://graph.microsoft.com/Mail.Send.Shared</string>
            <string>https://graph.microsoft.com/MailboxSettings.Read</string>
            <string>https://graph.microsoft.com/MailboxSettings.ReadWrite</string>
            <string>https://graph.microsoft.com/Notes.Create</string>
            <string>https://graph.microsoft.com/Notes.Read</string>
            <string>https://graph.microsoft.com/Notes.ReadWrite</string>
            <string>https://graph.microsoft.com/Notes.Read.All</string>
            <string>https://graph.microsoft.com/Notes.ReadWrite.All</string>
            <string>https://graph.microsoft.com/People.Read</string>
            <string>https://graph.microsoft.com/People.Read.All</string>
            <string>https://graph.microsoft.com/Reports.Read.All</string>
            <string>https://graph.microsoft.com/SecurityEvents.Read.All</string>
            <string>https://graph.microsoft.com/SecurityEvents.ReadWrite.All</string>
            <string>https://graph.microsoft.com/Sites.Manage.All</string>
            <string>https://graph.microsoft.com/Sites.Read.All</string>
            <string>https://graph.microsoft.com/Sites.ReadWrite.All</string>
            <string>https://graph.microsoft.com/User.Export.All</string>
            <string>https://graph.microsoft.com/User.Invite.All</string>
            <string>https://graph.microsoft.com/User.Read</string>
            <string>https://graph.microsoft.com/User.Read.All</string>
            <string>https://graph.microsoft.com/User.ReadBasic.All</string>
            <string>https://graph.microsoft.com/User.ReadWrite</string>
            <string>https://graph.microsoft.com/User.ReadWrite.All</string>
            <string>https://graph.microsoft.com/UserActivity.ReadWrite.CreatedByApp</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DefaultScopes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>offline_access</string>
            <string>https://graph.microsoft.com/Calendars.Read</string>
            <string>https://graph.microsoft.com/Calendars.Read.Shared</string>
            <string>https://graph.microsoft.com/Calendars.ReadWrite</string>
            <string>https://graph.microsoft.com/Calendars.ReadWrite.Shared</string>
            <string>https://graph.microsoft.com/Contacts.Read</string>
            <string>https://graph.microsoft.com/Contacts.Read.Shared</string>
            <string>https://graph.microsoft.com/Contacts.ReadWrite</string>
            <string>https://graph.microsoft.com/Contacts.ReadWrite.Shared</string>
            <string>https://graph.microsoft.com/Mail.Read</string>
            <string>https://graph.microsoft.com/Mail.ReadWrite</string>
            <string>https://graph.microsoft.com/Mail.Read.Shared</string>
            <string>https://graph.microsoft.com/Mail.ReadWrite.Shared</string>
            <string>https://graph.microsoft.com/Mail.Send</string>
            <string>https://graph.microsoft.com/Mail.Send.Shared</string>
            <string>https://graph.microsoft.com/MailboxSettings.Read</string>
            <string>https://graph.microsoft.com/MailboxSettings.ReadWrite</string>
            <string>https://graph.microsoft.com/People.Read</string>
            <string>https://graph.microsoft.com/User.Read</string>
            <string>https://graph.microsoft.com/User.ReadWrite</string>
            <string>https://graph.microsoft.com/User.ReadBasic.All</string>
          </ArrayOfString>
        </value>
      </setting>
    </Office365APIEditor.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.18.0.10905" newVersion="6.18.0.10905" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.18.0.10905" newVersion="6.18.0.10905" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.18.0.10905" newVersion="6.18.0.10905" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>